@use "../../../presets/index" as *;
@use "../../../mixins/index" as *;

.control {
  @extend %job-article;

  &__content {
    flex-grow: 1;
    flex-basis: 200px;
    @include ul-min {
      padding-right: 160px;
    }
    @include ul-xl {
      padding-right: 60px;
    }
  }

  &__title {
    margin: 0;
  }

  &__description {
    font-size: 1.25rem;
    line-height: 1.5;
  }

  &__picture {
    flex-grow: 1;
    flex-basis: 200px;
  }

  &__image {
    width: 100%;
  }

  &__btn {
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.5;
  }
}
